body{
  background: url(../img/background.jpg) repeat-x;
  font-family: Tahoma, Arial , sans-serif;
  font-size: 12px;
  color: #128aa7;
  background-color: #0c739f;
}
.wrapper{
  width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 24px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,1);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,1);
  font-size: 14px;
}
.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.logo{
	float: left;
	padding: 25px 0 0 37px;
}
.logo a{
  display: block;
  width: 283px;
  height: 164px;
  background: url("../img/logo.png") no-repeat;
  text-decoration: none;
  position: relative;
}
.logo span{
	font-size: 12px;
	color:#128aa7;
	position: absolute;
	padding: 100px 0 0 72px;
}
.contacts{
  float: right;
  padding: 15px 30px 0 0;
}
.contacts p{
	line-height: 20px;
}
.contacts p:first-child{
  font-weight: 600;
	line-height: 20px;
}
.line1{
  border: 1px solid #128aa7;
  margin-top: 189px;
}
.photo{
  margin-top: 5px;
}
.line2{
  border: 1px solid #128aa7;
  margin-bottom: 1px;
}
.contries{
  margin-top: 120px;
  margin-right: -145px;
  float: right;
}
.contries li{
  display: inline-block;
  text-align: center;
  width: 58px;
 }
.contries a{
  font-size: 10px;
  color:#128aa7;
}
.main_menu{
  margin-top: -1px;
	width: 1000px;
	border-top: 1px solid white;
  border-bottom: 1px solid #000;
  background: rgb(55,55,55); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
  position: absolute;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.main_menu li{
  position: relative;
  float: left;
}
.main_menu li a{
  position: relative;
  padding: 0 33px;
  display: block;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
  .main_menu ul{
  position: absolute;
  left: 23px;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.main_menu ul+a:after{
	content: '\25be';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 10px;
  height: 6px;
  width: 5px;
}
.main_menu a {
  padding: 0 33px;
  display: block;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.main_menu li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.main_menu ul li{
  background: #303030;
}
.main_menu ul a{
  padding: 0 21px 0 10px;
}
.currentm {
  background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#2e2e2e));
  color: #fff;
  border: 1px solid #838383;
}
.fon{
  height: 100%;
	background-color: white;
  float: left;
  margin-top: 28px;
  overflow: hidden;
  z-index: -1;
}
.leftColumn{
  width: 210px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  float: left;
  background: #edeef0;
  border-right: 1px solid #c7cacf;
  color: #424c43;
  line-height: 22px;
  text-align: center;
}
.leftColumn h2{
  text-align: center;
	font: 600 18px Tahoma;
	line-height: 35px;
}
.centerColumn{
	background-color: #fff;
	float: left;
	padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 576px;
}
.centerColumn p{
  margin: 20px;
  text-align: justify;
}
.rightColumn{
  width: 210px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  float: right;
  background:  #edeef0;
  border-left: 1px solid #c7cacf;
  color: #424c43;
  line-height: 22px;
  text-align: center;
}
.rightColumn h2{
  text-align: center;
	font: 600 18px Tahoma;
	line-height: 35px;
}
.footer{
  width: 1000px;
  height: 30px;
  margin: 0 auto;
}
.footer p{
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 30px;
}
