.page {
  width: 1060px;
  background-color: #fff;
  border: 1px double lightgray;
  margin: auto;
  font-family: 'Helvetica Neue Pro';
  font-size: 14px;
}
.logo {
  margin: 50px 0 40px 50px;
}
.mainmenu {
  width: 966px;
  height: 40px;
  margin: 0 45px 40px 45px;
  display: block;
  text-decoration: none;
  line-height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#5D5D5D), to(#464545));
}
.mainmenu li {
  float: left;
  display: inline;
}
.mainmenu li a {
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  display: block;
  height: 38px;
  padding: 0 30px;
}
.mainmenu li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#2e2e2e));
  color: #fff;
  border: 1px solid #838383;
}
.leftmenu {
  float: left;
  width: 240px;
  margin: 0 45px 40px 45px;
  padding-left: 0;
}
.leftmenu li {
  border: 1px solid lightgray;
}
.leftmenu li a {
  color: #656363;
  line-height: 40px;
  text-decoration: none;
  display: block;
  height: 38px;
  padding: 0 30px;
}
.leftmenu a:hover {
  color: #2c2c2c;
  padding: 0 40px;
}
.content {
  float: left;
  width: 678px;
  height: 400px;
  margin: 0 20px 0 0;
  border: 1px solid lightgray;
}
.content img {
  margin: 45px 90px;
}
.content p {
  margin: 40px 65px 55px 30px;
  color: #2c2c2c;
}
.footermenu {
  clear: left;
  width: 966px;
  height: 28px;
  background-color: #e1e1e1;
  margin: 670px 45px 60px 45px;
  padding-top: 12px;
}
.footermenu li {
  display: inline;
}
.footermenu a {
  color: #2c2c2c;
  text-decoration: none;
  display: block;
  width: 100px;
  padding-left: 30px;
  float: left;
}
.footermenu a:hover {
  text-decoration: underline;
}
.footermenu span {
  margin-left: 270px;
}
